<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments.html :: head(title='Terms')}">
</head>
<body>
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: back-button}"></div>
        <div th:replace="~{fragments.html :: logo}"></div>
        <div th:replace="~{fragments.html :: login-menu}"></div>
        <script th:replace="~{fragments.html :: topbar-script}"></script>
    </header>
    <main class="content footer-page">
        <i class="fa-solid fa-trowel-bricks"></i>
        <h1>Page is under construction</h1>
    </main>
    <footer th:replace="~{fragments.html :: footer}"></footer>
</div>
</body>
</html>