<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments.html :: head(title='Main Page')}">
</head>

<body>
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: hamburger-menu}"></div>
        <div th:replace="~{fragments.html :: logo}"></div>
        <div th:replace="~{fragments.html :: login-menu}"></div>
        <script th:replace="~{fragments.html :: topbar-script}"></script>
    </header>
    <div class="content mainpage-content">
        <section id="usersInterests" class="interests">
            <div th:unless="${likedInterests == null || likedInterests.isEmpty()}">
                <div class="section-label">
                    <h2>My Interests</h2>
                    <a th:href="@{/interests/my}"><h3>See all</h3></a>
                </div>
                <div class="interest-cards">
                    <div th:each="interest : ${likedInterests}" id="likedInterests" class="interest-card">
                        <a class="interest-card-link" th:href="@{|/interests/${interest.id}|}">
                            <div>
                                <div class="img-wrapper"></div>
                                <div class="interest-title">
                                    <p th:text="${interest.name} + ' ' + '(' + ${interest.countLikes()} + ')'"></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div th:if="${likedInterests == null}">
                <div class="section-label">
                    <h2><a th:href="@{/users/login}">Log-in</a> to see your interests</h2>
                </div>
            </div>
            <div th:if="${likedInterests != null && likedInterests.isEmpty()}" id="noLikedInterests">
                <div class="section-label">
                    <h2>No interests yet. Add your FIRST!</h2>
                </div>
            </div>
        </section>
        <section class="discover">
            <div class="section-label">
                <h2>Discover new</h2>
                <a th:if="${loggedUser}" th:href="@{/interests/create}"><h3>Create new</h3></a>
            </div>

            <div class="filters">
                <button id="location-button" class="filter-button">Location</button>
                <button class="filter-button">Drink</button>
                <button class="filter-button">Food</button>
                <button class="filter-button">Outdoor</button>
            </div>
            <div class="search-container">
                <input type="text" class="search" name="query" oninput="loadInterests(this.value)" autocomplete="off"
                       placeholder="Find interests…">
                <img class="search-icon" th:src="@{/icons/search.svg}" alt="Search">
            </div>
        </section>
        <div class="interest-cards" id="suggestionList"></div>
        <template>
            <div class="interest-card">
                <a class="interest-card-link">
                    <div>
                        <div class="img-wrapper"></div>
                        <div class="interest-title">
                            <p></p>
                        </div>
                    </div>
                </a>
            </div>
        </template>
    </div>
</div>
<script src="/scripts/index.js"></script>
</body>
</html>