<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments.html :: head(title=${interest.name} + ' by ' + ${user.username})}">
</head>

<body>
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: back-button}"></div>
        <div th:replace="~{fragments.html :: logo}"></div>
        <div th:replace="~{fragments.html :: login-menu}"></div>
        <script th:replace="~{fragments.html :: topbar-script}"></script>
    </header>
    <main class="content user-profile">
        <h2 th:text="${user.username}"></h2>
        <h2 th:text="${interest.name}"></h2>
        <section class="user-detail-interest">
            <div class="extendable user-detail-place" th:each="place : ${interest.ratedPlaces}" th:object="${place}"
                 onclick="toggleExtension(this)">
                <div class="user-detail-place-default">
                    <h4 th:text="${place.name}"></h4>
                    <div class="place-rating-average">
                        <i class="fas fa-star"></i>
                        <span class="rating" th:text="${place.avgRating}"></span>
                    </div>
                </div>
                <div class="extension">
                    <div class="extension-list">
                        <ul class="user-interest-place" th:each="criterion : ${place.ratedCriteria}">
                            <li th:object="${criterion}">
                                <i class="fas fa-star"></i>
                                <span class="place-rating-average" th:text="*{rating}"></span>
                                <span th:text="*{criterionName}"></span>
                            </li>
                        </ul>
                    </div>
                    <a th:href="@{/interests/{intId}/places/{placeId}(intId=${interest.id}, placeId=${place.id})}"
                       class="button">Visit</a>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="~{fragments.html :: footer}"></footer>
</div>
</body>

<script src="/scripts/userItemLoading.js"></script>

</html>