<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments.html :: head(title='Login')}">
</head>
<body>
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: logo}"></div>
    </header>
    <main class="user-form">
        <div class="form-container">
            <form class="right-container top-container" th:action="@{/login}" method="post">
                <h1>SIGN IN</h1>
                <div class="rs-logo">
                    <img src="/icons/R-logo.png" alt="Logo">
                </div>
                <section class="credentials">
                    <h6>Email address</h6>
                    <input class="credentials-input" type="text" name="username"
                           placeholder="Enter your email here...">
                    <img class="user-icon" src="/icons/email-icon.png" alt="email-icon">
                </section>
                <section class="credentials">
                    <h6>Password</h6>
                    <input class="credentials-input" type="password" name="password"
                           placeholder="Enter your password here...">
                    <img class="user-icon" src="/icons/lock.png" alt="user-lock">

                </section>
                <a th:href="@{/reset}" class="forgot-password">Forgot password?</a>
                <p th:if="${param.error}" class="error">Invalid username or password</p>
                <div class="user-form-button">
                    <button type="submit" class="sign-button">Login</button>
                </div>
            </form>
            <div class="left-container back-container" th:onclick="|location.href='@{/signup}';|"
                 style="cursor: pointer;">
                <div class="login-signup-wrapper">
                    <p>REGISTER</p>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments.html :: footer}"></footer>
</div>
</body>
</html>
