<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/login-register.css}">
    <link href="https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Montserrat:wght@200;400;600&family=Righteous&family=Ubuntu:wght@400;500;700&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>

<header class="header">
    <div th:replace="~{fragments.html :: logo}"></div>
</header>

<div class="container">
    <form class="signUp" th:action="@{/users/signup}" method="post">
        <p th:if="${error}" th:text="${error}"></p>
        <h3>REGISTER</h3>

        <label for="username" class="icon-label">Username</label>
        <div class="input-with-icon-user">
            <input type="text" name="username" id="username" class="username" th:value="${userDTO?.username}"
                   placeholder="Enter your username here.." required autocomplete="off">
        </div>

        <label for="email" class="icon-label">Email</label>
        <div class="input-with-icon-email">
            <input id="email" name="email" th:value="${userDTO?.email}"
                   class="email" type="email" placeholder="Enter your email here.." required>
        </div>

        <label for="password" class="icon-label">Password</label>
        <div class="input-with-icon-password">
            <input name="password" id="password" class="password" type="password"
                   placeholder="Enter your password here.." required>
        </div>

        <label for="confirmPassword" class="icon-label">Confirmpassword</label>
        <div class="input-with-icon-password">
            <input name="confirmPassword" id="confirmPassword" class="password" type="password"
                   placeholder="Enter your password here.."
                   required>
        </div>

        <button class="form-btn dx" type="submit">Sign up</button>
        <div class="buttons-login">
            <p class="account-login">Already have an account?</p>
            <a href="#" class="form-btn-log-in dx" type="button">LOGIN</a>
        </div>

    </form>

    <div class="alerts">
        <div th:if="${param.error}" class="alert alert-danger">Invalid Username or Password</div>
        <div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>
    </div>

    <form class="signIn" method="post" th:action="@{/users/login}">

        <h3>SIGN IN</h3>
        <div class="input-username2">
            <label for="username">Username</label>
            <input type="text" name="username " id="username2" class="username"
                   placeholder="Enter your username here.." required autocomplete="off"/>
        </div>
        <div class="input-password2">
            <label for="password">Password</label>
            <input name="password" id="password2" class="password" type="password" )
                   placeholder="Enter your password here.." required/>
        </div>

        <div class="forgot-password">
            <a href="/forgot-password" class="forgot-password">Forgot password?</a>
        </div>

        <div class="buttons-SignIn">
            <button class="form-btn dx" type="submit">Login</button>
        </div>

        <div class="buttons-register">
            <a class="account-register">Don't have an account?</a>
            <a href="#" class="register-button" type="button">REGISTER NOW!</a>
        </div>
    </form>
</div>

</body>

<script src="/scripts/login-register.js"></script>
</html>
