<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments.html :: head(title=${user.username})}">

</head>

<body>
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: back-button}"></div>
        <div th:replace="~{fragments.html :: logo}"></div>
        <div th:replace="~{fragments.html :: login-menu}"></div>
        <script th:replace="~{fragments.html :: topbar-script}"></script>
    </header>
    <main class="content user-profile">
        <section class="user-info" th:object="${user}">
            <div class="user-image">
                <img src="/icons/user.svg" alt="placeholderImg">
            </div>
            <div class="user-details">
                <h2 th:text="*{username}"></h2>
                <p th:if="${loggedUser == null || loggedUser.id != user.id}" th:text="*{bio}"></p>
                <p th:if="${loggedUser != null && loggedUser.id == user.id}" id="user-bio" th:text="*{bio}"
                   contenteditable="true" th:attr="maxlength=${@constraints.MAX_BIO_LENGTH}">
                </p>
            </div>
        </section>
        <div class="user-follow">
            <p th:text="${user.followers} + ' Followers'"></p>
            <button th:if="${loggedUser != null && loggedUser.id != user.id}" class="button follow"></button>
            <p th:text="${user.follows} + ' Following'"></p>
        </div>

        <h2 th:text="${user.username} + '\'s Interests'"></h2>
        <section class="user-page-layout">
            <div class="extendable user-interest" th:each="interest : ${ratedInterests}" th:object="${interest}"
                 onclick="toggleExtension(this)">
                <div class="user-interest-default">
                    <div class="user-interest-image">
                        <img th:if="*{imageName == null || imageName.isEmpty()}"
                             class="default-image" alt="Default image" th:data-interest-id="${interest.interestId}"/>
                        <img th:unless="*{imageName == null || imageName.isEmpty()}"
                             th:src="@{|/api/v1/images/*{imageName}}"
                             alt="Interest image"/>
                    </div>

                    <header class="user-interest-header">
                        <div class="user-interest-title">
                            <h4 th:text="*{interestName}"></h4>
                            <p th:text="${user.username} + ' has rated ' + ${interest.ratedPlaces.size()} + ' '
                            + (${interest.ratedPlaces.size()} == 1 ? 'place' : 'places')"></p>
                        </div>
                    </header>
                </div>

                <div class="extension">
                    <div class="extension-list">
                        <ul class="user-interest-place" th:each="place : ${interest.ratedPlaces}">
                            <li th:object="${place}">
                                <i class="fas fa-star"></i>
                                <span class="place-rating-average" th:text="${#numbers.formatDecimal(@thymeMath.roundRating(place.avgRating), 1, 1, 'POINT')}"></span>
                                <span th:text="*{placeName}"></span>
                            </li>
                        </ul>
                    </div>
                    <a th:href="@{/users/{username}/interests/{id}(username=${user.username}, id=${interest.interestId})}"
                       class="button">Details</a>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="~{fragments.html :: footer}"></footer>
</div>
</body>

<script th:inline="javascript" th:if="${loggedUser != null}">
    let userId = [[${user.id}]]
    let isFollowed = [[${loggedUser.getFollows().contains(user)}]]
    const MAX_BIO_LENGTH = [[${@constraints.MAX_BIO_LENGTH}]];
</script>
<script src="/scripts/userItemLoading.js"></script>
<script src="/scripts/imageFetcher.js"></script>
<script src="/scripts/defaultImage.js"></script>
<script th:if="${loggedUser != null && loggedUser.id != user.id}" src="/scripts/userFollow.js"></script>
<script th:if="${loggedUser != null && loggedUser.id == user.id}" src="/scripts/userBioEdit.js"></script>
</html>