<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments.html :: head(title='Reset password')}">
</head>
<body>
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: logo}"></div>
    </header>
    <main class="user-form">
        <div class="form-container">
            <form class="center-container top-container" th:action="@{/users/reset}" method="post">
                <h1>RESET PASSWORD</h1>
                <div class="rs-logo">
                    <img src="/icons/R-logo.png" alt="Logo">
                </div>
                <section class="credentials">
                    <h6>Email address</h6>
                    <input class="credentials-input" type="email" name="email"
                           placeholder="Enter your email address…" required>
                    <img class="user-icon" src="/icons/email-icon.png" alt="email-icon">
                </section>
                <div class="user-form-button">
                    <button type="submit" class="sign-button">Reset</button>
                </div>
            </form>
        </div>
    </main>
    <footer th:replace="~{fragments.html :: footer}"></footer>
</div>
</body>
</html>
