<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head(title='Reset password')}"></head>

<body>
<div class="container-fluid">
    <div class="header">
        <div th:replace="~{fragments.html :: logo}"></div>
    </div>
    <main class="content">
        <div class="rs-logo" style="margin-bottom: 4.5rem">
            <img src="/icons/R-logo.png" alt="Logo">
        </div>
        <p th:text="'Your request was submitted. If the email address ' + ${email} + ' is correct, you should receive an email shortly with further instructions.'"></p>
        <p>If the email hasn't arrived within next few minutes, please check your spam folder or try again.</p>
        <div class="row col-7" id="error-homepage-button">
            <a class="button" th:href="@{/}">Go to Homepage</a>
        </div>
    </main>
    <footer th:replace="~{fragments.html :: footer}"></footer>
</div>
</body>
</html>
