<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments.html :: head(title='Reset password')}">
</head>
<body>
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: logo}"></div>
    </header>
    <main class="user-form">
        <div class="form-container">
            <form class="center-container top-container" th:action="@{/reset}" th:method="put">
                <h1>RESET PASSWORD</h1>
                <div class="rs-logo">
                    <img src="/icons/R-logo.png" alt="Logo">
                </div>
                <section class="credentials">
                    <h6>New password</h6>
                    <input class="credentials-input" type="password" name="password"
                           placeholder="Enter new password…" required>
                    <img class="user-icon" src="/icons/lock.png" alt="user-lock">
                </section>
                <section class="credentials">
                    <h6>Confirm password</h6>
                    <input class="credentials-input" type="password" name="confirmPassword"
                           placeholder="Confirm password…" required>
                    <img class="user-icon" src="/icons/lock.png" alt="user-lock">
                </section>

                <p th:if="${error}" th:text="${error}" class="error"></p>

                <div class="user-form-button">
                    <button type="submit" class="sign-button">Submit</button>
                </div>
                <input type="hidden" name="token" th:value="${token}"/>
                <input type="hidden" name="ref" th:value="${ref}"/>
            </form>
        </div>
    </main>
    <footer th:replace="~{fragments.html :: footer}"></footer>
</div>
</body>
</html>
