<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/index.css}">
    <link href="https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Montserrat:wght@200;400;600&family=Righteous&family=Ubuntu:wght@400;500;700&display=swap"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: logo}"></div>
    </header>
    <div class="rs-logo">
        <img src="/icons/R-logo.png" alt="Logo">
    </div>
    <div class="user-form">
        <div class="right-container back-container">
            <a class="login-signup-redirect" th:href="@{/users/login}">SIGN IN</a>
        </div>
        <form class="left-container top-container" th:action="@{/users/signup}" method="post">
            <p th:if="${error}" th:text="${error}"></p>
            <h1>REGISTER</h1>
            <section class="credentials">
                <h5>Username</h5>
                <input type="text" name="username" class="credentials-input" th:value="${userDTO?.username}"
                       placeholder="Enter your username here..." required autocomplete="off">
            </section>
            <section class="credentials">
                <h5>Email address</h5>
                <input class="credentials-input" type="email" name="email" th:value="${userDTO?.email}"
                       placeholder="Enter your email here.." required>
            </section>
            <section class="credentials">
                <h5>Password</h5>
                <input class="credentials-input" type="password" name="password"
                       placeholder="Enter your password here.." required>
            </section>
            <section class="credentials">
                <h5>Confirm password</h5>
                <input class="credentials-input" type="password" name="password"
                       placeholder="Enter your password here.." required>
            </section>

            <div class="user-form-button">
                <button type="submit" class="sign-button">Sign Up</button>
            </div>
        </form>
    </div>
</div>

</body>

</html>
