<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head(title=${error.simpleMessage})}"></head>

<body>
<div class="container-fluid">
    <div class="header">
        <div th:replace="~{fragments.html :: logo}"></div>
    </div>
    <div class="content">
        <div class="row list-record">
            <div class="col" id="error-simple">
                <h1 th:text="${error.simpleMessage}"></h1>
            </div>
            <div class="col">
                <div id="error-sign-wrapper">
                    <img id="error-sign" src="/images/errorSign.png" alt="error sign image">
                    <div id="error-code">
                        <p id="error-status" th:text="${error.status}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-10" id="error-message">
            <p th:text="${error.clientMessage}"></p>
        </div>
        <div class="row col-7" id="error-homepage-button">
            <a class="button" th:href="@{/}">Go to Homepage</a>
        </div>
    </div>
</div>


<!--<div class="row" style="margin-top: 2rem">-->
<!--    <h1 th:text="${error.status}"></h1>-->
<!--</div>-->
<!--<div class="row" style="margin-top: 1rem" ;>-->
<!--    <h1 th:text="${error.simpleMessage}"></h1>-->
<!--</div>-->
<!--<div class="row" style="margin-top: 3rem;">-->
<!--    <h2 th:text="${error.clientMessage}"></h2>-->
<!--</div>-->

</body>
</html>