<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search with Suggestions</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>

<p th:if="${#authentication.authenticated}" th:text="${loggedUser.getUsername()}"></p>
<p th:unless="${#authentication.authenticated}">Anonymous user</p>


<section th:if="${#authentication.authenticated}"  id="usersInterests">
    <div th:else="${likedInterests.isEmpty()}" id="likedInterests" th:each="interest : ${likedInterests}">
        <a th:href="@{|/interests/${interest.id}|}" th:text="${interest.name} + ' ' + ${interest.countLikes()}"></a>
    </div>
    <div th:if="${likedInterests.isEmpty()}" id="noLikedInterests">
        <h1>No interests added yet</h1>
    </div>
</section>

<h2>Discover new</h2>
<form method="get" th:href="@{/interests/}">
    <label for="search">Search:</label>
    <input type="text" id="search" name="query" oninput="getSuggestions(this.value)" autocomplete="off">
</form>

<div id="suggestions">
    <ul id="suggestionList"></ul>
</div>

<script src="/scripts/index.js"></script>
</body>
</html>