<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:if="${interest.id == null}" th:text="'Rate-It: New Interest'"></title>
    <title th:unless="${interest.id != null}" th:text="'Rate-It: Edit ' + ${interest.name}"></title>
</head>
<body>

<form th:object="${interest}" th:data-interest-id="*{id}" name="myForm" th:action="${action}" th:method="${method}">
    <label>Name:
        <input type="text" name="name" th:value="*{name}" required>
    </label>
    <br>

    <label>Description:
        <textarea name="description" th:field="*{description}"></textarea>
    </label>
    <br>

    <!--todo: add checkbox for exclusivity-->

    <div id="criteriaContainer" class="criteria-container">Criteria:
        <th:block th:if="*{id != null}">
            <div th:each="criterion : ${interest.criteria}">
                <div>
                        <input type="text" name="criteria" th:value="${criterion.name}" />
                        <button type="button" onclick="removeCriteria(this)">Remove</button>
                </div>
            </div>
        </th:block>
    </div>

    <button type="button" onclick="addCriteria()">More Criteria</button>

    <br>
    <button type="submit">Save</button>
</form>

<script th:inline="javascript">
    // function onSubmitForm()
    // {
    //     var interestId = document.myForm.getAttribute('data-interest-id');
    //     if(interestId == null)
    //     {
    //         document.myForm.action = '/interests/create';
    //         document.myForm.method = 'post';
    //     }
    //     else
    //     {
    //         document.myForm.action = '/interests/' + interestId + '/edit';
    //         document.myForm.method = 'put';
    //     }
    //     document.myForm.submit()
    //     return false;
    // }

    function addCriteria() {
        var criteriaContainer = document.getElementById('criteriaContainer');
        var div = document.createElement('div');
        var input = document.createElement('input');
        var removeButton = document.createElement('button');

        input.type = 'text';
        input.name = 'criteria';

        removeButton.type = 'button';
        removeButton.textContent = 'Remove';
        removeButton.onclick = function () {
            criteriaContainer.removeChild(div);
        };

        div.appendChild(input);
        div.appendChild(removeButton);
        criteriaContainer.appendChild(div);
    }

    function removeCriteria(button) {
        var parentDiv = button.closest('div');
        if (parentDiv) {
            parentDiv.remove();
        }
    }
</script>

</body>
</html>