<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:if="${interest.id == null}" th:text="'Rate-It: New Interest'"></title>
    <title th:unless="${interest.id != null}" th:text="'Rate-It: ' ${interest.name} + ' Edit'"></title>
</head>
<body>

<form th:if="${interest.id == null}" th:action="@{/interests/create}" th:method="post">
<form th:unless="${interest.id == null}" th:action="@{/interests/{id}/edit(id=${interest.id})}" th:method="put">
    <label>Name:
        <input type="text" name="name" required>
    </label>
    <br>

    <label>Description:
        <textarea name="description"></textarea>
    </label>
    <br>

    <!--todo: add checkbox for exclusivity-->

    <label>Criteria:
        <input type="text" name="criteria" required>
    </label>
    <br>

    <div id="criteriaContainer" class="criteria-container">
    </div>

    <button type="button" onclick="addCriteria()">More Criteria</button>

    <br>
    <button type="submit">Create Interest</button>
</form>

<script>
    function addCriteria() {
        var criteriaContainer = document.getElementById('criteriaContainer');
        var input = document.createElement('input');
        input.type = 'text';
        input.name = 'criteria';
        criteriaContainer.appendChild(input);
        criteriaContainer.appendChild(document.createElement('br'));
    }
</script>

</body>
</html>