<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${interest.id == null}" th:text="'New Interest | RateSpot'"></title>
    <title th:unless="${interest.id == null}" th:text="${interest.name} + ' Edit Mode | RateSpot '"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/index.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Montserrat:wght@200;400;600&family=Righteous&family=Ubuntu:wght@400;500;700&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <header th:replace="~{fragments.html :: header}">
    </header>

    <div class="content">
        <form th:object="${interest}" th:data-interest-id="*{id}" name="myForm" th:action="${action}"
              th:method="${method}">
            <h2 th:if="${interest.id == null}">New Interest</h2>
            <h2 th:unless="${interest.id == null}" th:text="${interest.name} + ' Edit'"></h2>
            <section class="input-param">
                <h4>Name</h4>
                <label>
                    <input class="input-text-field" type="text" name="name" th:value="*{name}" required>
                </label>
            </section>

            <section class="input-param">
                <h4>Category</h4>
                <p>sport food whatever placeholder</p>
            </section>

            <section class="input-param">
                <h4>Visibility</h4>
                <input type="checkbox" id="toggle" class="toggle-checkbox" name="exclusive" th:checked="*{exclusive}"/>
                <label for="toggle" class="toggle-container">
                    <div>Public</div>
                    <div>Private</div>
                </label>
            </section>

            <section class="input-param">
                <h4>Rating criteria</h4>
                <div id="criteriaContainer" class="criteria-container">
                    <label th:if="*{id == null}" class="first-criterion">
                        <input class="input-text-field" type="text" name="criteriaNames" required/>
                    </label>
                    <th:block th:if="*{id != null}">
                        <label class="list-record first-criterion">
                            <input class="input-text-field" type="text" name="criteriaNames"
                                   th:value="${interest.criteria[0]?.name}" required/>
                        </label>

                        <div th:each="criterion, iterStat : ${interest.criteria}" th:if="${iterStat.index > 0}">
                            <label class="list-record">
                                <input class="input-text-field" type="text" name="criteriaNames"
                                       th:value="${criterion.name}" required/>
                                <button class="role-option-button kick-button" type="button" onclick="removeCriteria(this, ${iterStat.index})">
                                    <img src="/icons/cross.svg">
                                </button>
                            </label>
                        </div>
                    </th:block>
                </div>

                <button class="light-button" type="button" onclick="addCriteria()">Add criteria</button>

            </section>

            <section class="input-param">
                <h4>Description</h4>
                <label>
                    <textarea class="input-text-field" name="description" th:field="*{description}"></textarea>
                </label>
            </section>

            <button class="dark-button" type="submit">Save</button>
        </form>
    </div>

    <script th:inline="javascript" src="/scripts/interestForm.js"></script>

</div>
</body>
</html>