<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments.html :: head(title='Map | ' + ${interest.name})}">
</head>

<body th:object="${interest}">
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: hamburger-menu}"></div>
        <div th:replace="~{fragments.html :: logo}"></div>
        <div th:replace="${loggedUser == null} ? ~{fragments.html :: login-menu} :
        (${role != null && role.equals(role.CREATOR)} ? ~{fragments.html :: interest-admin-menu} : ~{fragments.html :: like-button})"></div>
        <script th:replace="~{fragments.html :: topbar-script}"></script>
    </header>
    <div class="content content-interest">
        <div class="content-header">
            <h1 th:text="*{name}"></h1>
        </div>
        <div class="interest-map">
            <div id="map"></div>
        </div>
    </div>
</div>

<script th:replace="~{fragments :: placeMap-script}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    let places = [[${places}]];
    let interestId = [[${interest.id}]];

    /*]]>*/
</script>
<script src="/scripts/interestMap.js"></script>
</body>
</html>