<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments.html :: head(title=${interest.name})}">
</head>

<body th:object="${interest}">
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: hamburger-menu}"></div>
        <div th:replace="~{fragments.html :: logo}"></div>
        <div th:replace="${loggedUser == null} ? ~{fragments.html :: login-menu} :
        (${role != null && role.equals(role.CREATOR)} ? ~{fragments.html :: interest-admin-menu} : ~{fragments.html :: like-button})"></div>
        <script th:replace="~{fragments.html :: topbar-script}"></script>
    </header>

    <div class="interest-image">
        <img src="https://picsum.photos/500/300" alt="placeholder"/>
    </div>

    <div class="content content-interest">
        <div class="d-flex justify-content-around interest-button-bar">
            <a class="button">Map</a>
            <span class="button pending"
                  th:if="${loggedUser != null && interest.isExclusive() && role != null && role.equals(role.APPLICANT)}">Pending Request</span>
            <a class="button"
               th:if="${loggedUser != null && (!interest.isExclusive() || ratingPermission == true)}"
               th:href="@{/interests/{id}/places/new(id=${interest.id})}">Add Place</a>
            <form th:if="${loggedUser != null && interest.isExclusive() && ratingPermission != true && (role == null || !role.equals(role.APPLICANT))}"
                  th:action="@{/interests/{id}/request(id=*{id})}"
                  th:method="post">
                <button class="button" type="submit">Request Rating Authority</button>
            </form>
            <a class="button"
               th:if="${loggedUser == null}"
               th:href="@{/users/login}">Login</a>
        </div>

        <div class="content-header">
            <h1 th:text="*{name}"></h1>
        </div>

        <div>
            <p th:text="*{description}"></p>
        </div>

        <div>
            <h2>Criteria</h2>
        </div>
        <ul>
            <li th:each="criterion : ${interest.criteria}" th:text="${criterion.name}"></li>
        </ul>
        <section class="interest-places-section"
                 th:unless="${places.isEmpty()}">
            <h2>Places</h2>

            <!--            TODO: add filters-->
            <div>Filter categories placeholder</div>

            <!--            TODO: add search bar-->
            <div>Search bar placeholder</div>

            <div class="interest-places">
                <a class="interest-place"
                   th:each="place : ${places}"
                   th:href="@{/interests/{intId}/places/{placeId}(intId=${interest.id}, placeId=${place.place().id})}"
                >
                    <div class="interest-place-img">
                        <img th:if="${place.place().imageNames.isEmpty()}" src="https://picsum.photos/400/300"
                             alt="placeholder"/>
                        <img th:unless="${place.place().imageNames.isEmpty()}" id="picture-container"
                             th:attr="data-image-id=${place.place().imageNames.get(place.place().getImageNames().size() - 1)}"
                             alt="placeholder">
                    </div>

                    <div class="interest-place-content">
                        <header class="interest-place-header">
                            <div class="interest-place-title">
                                <h3 th:text="${place.place().name}"></h3>
                                <h4 th:text="${place.place().address}"></h4>
                            </div>

                            <div class="interest-place-distance">
                                3.5 km
                            </div>
                        </header>

                        <ul class="interest-place-ratings">
                            <li>
                                <i class="fas fa-star overall yellow"></i>
                                <strong class="rating"
                                        th:text="${#numbers.formatDecimal(place.place().getAverageRating() / 2, 1, 'DEFAULT', 1, 'DEFAULT')}">
                                </strong>
                                <strong class="criterion">Overall</strong>
                            </li>

                            <li>
                                <i class="fas fa-star yellow"></i>
                                <span class="rating"
                                      th:text="${#numbers.formatDecimal(place.bestRatedCriterion().avgRating() / 2, 1, 'DEFAULT', 1, 'DEFAULT')}">
                                </span>
                                <span class="criterion"
                                      th:text="${place.bestRatedCriterion().criterion().name}">
                                </span>
                            </li>

                            <li>
                                <i class="fas fa-star"></i>
                                <span class="rating"
                                      th:text="${#numbers.formatDecimal(place.worstRatedCriterion().avgRating() / 2, 1, 'DEFAULT', 1, 'DEFAULT')}">
                                </span>
                                <span class="criterion"
                                      th:text="${place.worstRatedCriterion().criterion().name}">
                                </span>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </section>
    </div>
</div>
<script th:inline="javascript" src="/scripts/imageFetcher.js"></script>

</body>
</html>