<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments.html :: head(title='Users | ' + ${interest.name})}">
</head>

<body>
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: hamburger-menu}"></div>
        <div th:replace="~{fragments.html :: logo}"></div>
        <div th:replace="~{fragments.html :: login-menu}"></div>
        <script th:replace="~{fragments.html :: topbar-script}"></script>
    </header>
    <div class="content">
        <div class="section-label">
            <a th:href="@{/interests/{interestId}(interestId=${interest.id})}"><h2 th:text="${interest.name}"></h2></a>
            <a th:href="@{/interests/{interestId}/admin/invite(interestId=${interest.id})}"><h3>Applications</h3></a>
        </div>
        <div class="search-container" id="list-search">
            <input type="text" class="search" name="query" oninput="loadResults(this.value)" autocomplete="off"
                   placeholder="Find user…">
            <img class="search-icon" th:src="@{/icons/search.svg}" alt="Search">
        </div>
        <div class="items-list" id="interest-users-container"></div>
        <template>
            <div class="list-record">
                <div class="user-list-entry col-9">
                    <img th:src="@{/icons/list-user.svg}" alt="User">
                    <h5></h5>
                </div>
                <div class="role-section">
                    <form method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button class="role-option-button kick-button" type="submit">KICK</button>
                    </form>
                </div>
            </div>
        </template>
    </div>
</div>
<input type="hidden" id="interest-id" th:value="${interest.id}">
<input type="hidden" id="api" value="users">
<script th:src="@{/scripts/interestUsers.js}"></script>
<script src="/scripts/sidebars.js"></script>
</body>
</html>
