<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments.html :: head(title=${place.id == null} ? 'New Place' : 'Editing ' + ${place.name})}">
</head>

<body>
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: hamburger-menu}"></div>
        <div th:replace="~{fragments.html :: logo}"></div>
        <div th:replace="~{fragments.html :: login-menu}"></div>
        <script th:replace="~{fragments.html :: topbar-script}"></script>
    </header>

    <div class="content">
        <form th:method="${method}"
              th:action="${action}"
              th:object="${place}">
            <h2 th:if="${place.id == null}"
                th:text="'New Place'">
            </h2>
            <h2 th:unless="${place.id == null}"
                th:text="'Editing... ' + ${title}">
            </h2>

            <section class="input-param">
                <input type="hidden" th:field="*{id}"/>
                <h4>Name</h4>
                <label>
                    <input class="input-text-field"
                           type="text"
                           name="name"
                           th:field="*{name}"
                           required
                           autocomplete="off">
                </label>
            </section>

            <section class="input-param">
                <h4>Address</h4>
                <label>
                    <input class="input-text-field"
                           type="text"
                           id="address"
                           name="address"
                           th:field="*{address}"
                           autocomplete="off">
                </label>
            </section>

            <section class="input-param">
                <h4>Exact spot</h4>
                <div class="place-map">
                    <div id="map"></div>
                </div>
                <input type="number"
                       hidden="hidden"
                       inputmode="decimal"
                       step="0.000001"
                       id="place-latitude"
                       th:field="*{latitude}"
                       required>
                <input type="number"
                       hidden="hidden"
                       inputmode="decimal"
                       step="0.000001"
                       id="place-longitude"
                       th:field="*{longitude}"
                       required>
                <div class="centered-button-wrapper">
                    <a class="light-button">Confirm</a>
                </div>
            </section>


            <section class="input-param">
                <h4>Description</h4>
                <label>
                    <textarea class="input-text-field"
                              id="description"
                              name="description"
                              th:field="*{description}">
                    </textarea>
                </label>
            </section>

            <button class="dark-button">Save</button>
        </form>
    </div>
</div>

<script th:replace="~{fragments :: placeMap-script}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    let latitude = [[${place.latitude}]];
    let longitude = [[${place.longitude}]];

    /*]]>*/
</script>
<script src="/scripts/map.js"></script>

</body>
</html>