<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments.html :: head(title=${place.name})}">
</head>

<body th:object="${place}">
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: back-button}"></div>
        <div th:replace="~{fragments.html :: logo}"></div>
        <div th:replace="${loggedUser != null && place.creator.equals(loggedUser)} ?
         ~{fragments.html :: place-admin-menu} : ~{fragments.html :: login-menu}"></div>
        <script th:replace="~{fragments.html :: topbar-script}"></script>
    </header>
    <main class="content">
        <a class="place-interest"
           th:href="@{/interests/{interestId}(interestId=${place.interest.id})}">
            <h2 th:text="*{getInterest.name}"></h2>
        </a>

        <div class="fotorama"
             data-width="100%"
             data-height="30%"
             data-maxheight="50%"
             data-nav="thumbs"
             data-allowfullscreen="true">

            <th:block th:each="imageId : *{getImageNames()}">
                <img th:src="@{'/api/v1/images/' + ${imageId}}" th:attr="data-image-id=${imageId}" alt="Image"/>
            </th:block>
        </div>

        <header class="content-header place-header">
            <h1 th:text="*{name}"></h1>
            <div class="rating">
                <i class="fas fa-star"></i>
                <span th:id="place-rating"
                      th:unless="${place.getAverageRating() == null}"
                      th:text="${#numbers.formatDecimal(@thymeMath.roundRating(place.getAverageRating()), 1, 1, 'POINT')}"></span>
                <span th:id="place-rating"
                      th:if="${place.getAverageRating() == null}">N/A</span>
            </div>
        </header>

        <p th:text="*{description}"></p>
        <section class="place-rating" th:unless="${placeCriteria.criteria().isEmpty()}">
            <h2>Rating criteria</h2>
            <form th:object="${usersRatings}"
                  name="rating"
                  id="rating-form"
            >
                <div class="place-rating-criteria">
                    <div class="place-rating-criterion"
                         th:each="criterionDTO : ${placeCriteria.criteria()}">
                        <div th:text="${criterionDTO.name}"/>

                        <div th:class="${usersRatings} ? 'place-rating-average small' : 'place-rating-average'">
                            <i class="fas fa-star"></i>
                            <span th:id="${criterionDTO.id}"
                                  th:unless="${criterionDTO.avgRating == null}" class="rating"
                                  th:text="${#numbers.formatDecimal(@thymeMath.roundRating(criterionDTO.avgRating), 1, 1, 'POINT')}"></span>
                            <span th:id="${criterionDTO.id}"
                                  th:if="${criterionDTO.avgRating == null}" class="rating">N/A</span>
                        </div>

                        <div th:if="${usersRatings}">

                            <div class="place-rating-stars" th:data-criterion-id="${criterionDTO.id}">
                                <i class="place-rating-star star-0 empty-star is-active" th:attr="data-star=0"></i>
                                <i class="place-rating-star star-0 empty-star is-active" th:attr="data-star=0"></i>
                                <th:block th:each="i: ${#numbers.sequence(0, 9)}">
                                    <i th:class="'place-rating-star star-' + ${i+1} + ' ' + ${i < usersRatings.ratings.get(criterionDTO.id) ? 'is-active' : ''}"
                                       th:attr="data-star=${i+1}"></i>
                                </th:block>
                                <p th:id="'hover-count-' + ${criterionDTO.id}" class="hover-star-count"
                                   th:text="${usersRatings.ratings.get(criterionDTO.id)} == null ?
                                   '---' : ${#numbers.formatDecimal(@thymeMath.roundRating(usersRatings.ratings.get(criterionDTO.id)), 1, 1, 'POINT')}"></p>
                            </div>

                            <input type="number" hidden="hidden"
                                   th:value="${usersRatings.ratings.containsKey(criterionDTO.id)} ?
                                        ${usersRatings.ratings.get(criterionDTO.id)}"
                                   th:field="*{ratings[__${criterionDTO.id}__]}">
                        </div>
                    </div>
                </div>

                <div th:if="${usersRatings}" class="place-button-bar">
                    <a id="uppy-modal" href="#" type="button" class="button" style="text-decoration: none">
                        Upload photo</a>
                    <button id="rate" type="submit" class="button">Rate
                    </button>
                    <p id="rate-confirmation"></p>
                </div>
            </form>

            <div class="modal fade" id="review-modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form id="review-form" class="modal-body">
                            <h4>Add a review</h4>
                            <label>
                            <textarea class="input-text-field"
                                      id="review-text-field"
                                      name="review"
                                      th:oninput="'updateCharCountAndResize(' + ${@constraints.MAX_VARCHAR_LENGTH} + ')'"
                                      th:maxlength="${@constraints.MAX_VARCHAR_LENGTH}"></textarea>
                            </label>
                            <p id="charCount"></p>
                            <div class="place-button-bar">
                                <button id="rate-without-review" type="button" class="button" data-bs-dismiss="modal">
                                    Dismiss
                                </button>
                                <button id="post-review" type="submit" class="button">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="uppy"></div>

            <div th:unless="${usersRatings}" class="place-button-bar">
                <span class="button pending"
                      th:if="${loggedUser != null && place.interest.isExclusive() && applicant == true}">Pending Request</span>
                <form th:if="${loggedUser != null && place.interest.isExclusive() && usersRatings == null && applicant != true}"
                      th:action="@{/interests/{id}/request(id=${place.interest.id})}"
                      th:method="post">
                    <button class="button" type="submit">Request Rating Authority</button>
                </form>
                <a class="button"
                   th:if="${loggedUser == null}"
                   th:href="@{/login}">Login</a>
            </div>
        </section>

        <section th:if="${usersRatings}" class="place-review">
            <h2></h2>
            <div class="review-container">
                <div class="review-text-container">
                <textarea disabled id="review"
                          th:maxlength="${@constraints.MAX_VARCHAR_LENGTH}"></textarea>
                </div>
            </div>
        </section>

        <section class="place-map">
            <h2>Location</h2>
            <div class="place-map-container">
                <div id="map"></div>
            </div>
        </section>

        <section class="user-ratings">
            <div class="rating-box" th:each="userRatingDto : ${placeRatings.userPlaceRatings()}">

                <div class="rating-box-main">
                    <div class="rating-box-main-left">
                        <div class="user-icon-rating">
                            <img th:src="@{/icons/user.svg}" alt="User icon">
                        </div>
                    </div>
                    <div class="rating-box-main-middle">
                        <p th:text="${userRatingDto.userName()}"></p>
                        <div class="button-ratings-container">
                            <button class="expand-button" th:id="'button-show-ratings-' + ${userRatingDto.userName()}">
                                <img th:src="@{/icons/right-arrow.svg}" alt="User icon">
                                <i>Details</i>
                            </button>
                        </div>
                    </div>
                    <div class="rating-box-main-right">
                        <div class="average-rating-container">
                            <i class="fas fa-star"></i>
                            <div class="average-rating">
                                <p th:text="${userRatingDto.totalAverageRating()}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="list-of-ratings" th:id="'ratingsList_' + ${userRatingDto.userName()}" style="display: none;">
                    <li th:each="rating : ${userRatingDto.ratings()}">
                        <div class="criterion-rating">
                            <i class="fas fa-star"></i>
                            <p th:text="${rating.getValue()}"></p>
                            <p th:text="${rating.getKey()}" class="criterion-name"></p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

    </main>
    <footer th:replace="~{fragments.html :: footer}"></footer>
</div>

<script th:replace="~{fragments :: leaflet-script}"></script>
<script th:inline="javascript">
    const placeId = [[${place.id}]];
    const placeName = [[${place.name}]];
    const placeLat = [[${place.latitude}]];
    const placeLng = [[${place.longitude}]];
    const review = [[${review}]];
</script>
<script src="/scripts/placeMap.js"></script>
<script src="/scripts/imageFetcher.js"></script>
<script src="/scripts/defaultImage.js"></script>
<script th:if="${placeRatings}" src="/scripts/placeRatingsExpand.js"></script>
<script th:if="${usersRatings}" src="/scripts/rating.js"></script>
<script th:if="${usersRatings}" src="/scripts/reviewForm.js"></script>
<script th:if="${usersRatings}" type="module" src="/scripts/placeImageUpload.js"></script>

</body>
</html>