<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments.html :: head(title=${place.name})}">
</head>

<body th:object="${place}">
<div class="container-fluid">
    <header class="header">
        <div th:replace="~{fragments.html :: back-button}"></div>
        <div th:replace="~{fragments.html :: logo}"></div>
        <div th:replace="${loggedUser != null && place.creator.equals(loggedUser)} ?
         ~{fragments.html :: place-admin-menu} : ~{fragments.html :: login-menu}"></div>
        <script th:replace="~{fragments.html :: topbar-script}"></script>
    </header>
    <main class="content">
        <a class="place-interest"
           th:href="@{/interests/{interestId}(interestId=${place.interest.id})}">
            <h2 th:text="*{getInterest.name}"></h2>
        </a>

        <div class="fotorama"
             data-width="100%"
             data-height="30%"
             data-maxheight="50%"
             data-nav="thumbs"
             data-allowfullscreen="true">

            <th:block th:each="imageId : *{getImageNames()}">
                <img th:src="@{'/api/v1/images/' + ${imageId}}" th:attr="data-image-id=${imageId}" alt="Image"/>
            </th:block>
        </div>

        <header class="content-header place-header">
            <h1 th:text="*{name}"></h1>
            <div class="rating">
                <i class="fas fa-star"></i>
                <span th:id="place-rating"
                      th:unless="${place.getAverageRating() == null}"
                      th:text="${#numbers.formatDecimal(@thymeMath.roundRating(place.getAverageRating()), 1, 1, 'POINT')}"></span>
                <span th:id="place-rating"
                      th:if="${place.getAverageRating() == null}">N/A</span>
            </div>
        </header>

        <p th:text="*{description}"></p>
        <section class="place-rating" th:unless="${placeCriteria.criteria().isEmpty()}">
            <h2>Rating criteria</h2>
            <form th:action="@{/interests/{intId}/places/{placeId}/rate(intId=${place.interest.id}, placeId=${place.id})}"
                  th:method="post"
                  th:object="${usersRatings}"
                  name="rating"
                  id="form"
            >
                <div class="place-rating-criteria">
                    <div class="place-rating-criterion"
                         th:each="criterionDTO : ${placeCriteria.criteria()}">
                        <div th:text="${criterionDTO.name}"/>

                        <div th:class="${usersRatings} ? 'place-rating-average small' : 'place-rating-average'">
                            <i class="fas fa-star"></i>
                            <span th:id="${criterionDTO.id}"
                                  th:unless="${criterionDTO.avgRating == null}" class="rating"
                                  th:text="${#numbers.formatDecimal(@thymeMath.roundRating(criterionDTO.avgRating), 1, 1, 'POINT')}"></span>
                            <span th:id="${criterionDTO.id}"
                                  th:if="${criterionDTO.avgRating == null}" class="rating">N/A</span>
                        </div>

                        <div th:if="${usersRatings}">

                            <div class="place-rating-stars">
                                <th:block th:each="i: ${#numbers.sequence(0, 9)}">
                                    <i th:class="'place-rating-star star-' + ${i+1} + ' ' + ${i < usersRatings.ratings.get(criterionDTO.id) ? 'is-active' : ''}"
                                       th:attr="data-star=${i+1}"></i>
                                </th:block>
                            </div>

                            <input type="number" hidden="hidden"
                                   th:value="${usersRatings.ratings.containsKey(criterionDTO.id)} ?
                                        ${usersRatings.ratings.get(criterionDTO.id)}"
                                   th:field="*{ratings[__${criterionDTO.id}__]}">
                        </div>
                    </div>
                </div>

                <div th:if="${usersRatings}" class="place-button-bar">
                    <a id="uppy-modal" href="#" type="button" class="button" style="text-decoration: none">
                        Upload photo</a>
                    <button id="submit-rating-button" class="button" type="submit">Rate</button>
                </div>
            </form>

            <div id="uppy"></div>

            <div class="place-button-bar">
                <span class="button pending"
                      th:if="${loggedUser != null && place.interest.isExclusive() && applicant == true}">Pending Request</span>
                <form th:if="${loggedUser != null && place.interest.isExclusive() && usersRatings == null && applicant != true}"
                      th:action="@{/interests/{id}/request(id=${place.interest.id})}"
                      th:method="post">
                    <button class="button" type="submit">Request Rating Authority</button>
                </form>
                <a class="button"
                   th:if="${loggedUser == null}"
                   th:href="@{/users/login}">Login</a>
            </div>
        </section>

        <div class="place-map">
            <div id="map"></div>
        </div>
    </main>
    <footer th:replace="~{fragments.html :: footer}"></footer>
</div>

<script th:replace="~{fragments :: leaflet-script}"></script>
<script th:inline="javascript">
    const placeId = [[${place.id}]];
    const placeName = [[${place.name}]];
    const placeAddress = [[${place.address}]];
    const placeLat = [[${place.latitude}]];
    const placeLng = [[${place.longitude}]];
</script>
<script src="/scripts/placeMap.js"></script>
<script src="/scripts/imageFetcher.js"></script>
<script th:if="${usersRatings}" src="/scripts/rating.js"></script>
<script th:if="${usersRatings}" type="module" src="/scripts/placeImageUpload.js"></script>

</body>
</html>