
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(185 185 185);
    margin: 0;
}

.container-fluid {
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    background-color: #E2E2E2;
    padding: 0;
    min-height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    background-color: #568D73;
    justify-content: center;
    align-items: center;
}

.header-top {
    display: flex;
    color: white;
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
    justify-content: center;
}

.header-top > a {
    all: unset;
    cursor: pointer;
}

.header-right {
    display: flex;
    justify-content: end;
    align-content: center;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.content-header > h1 {
    margin-bottom: 0;
}

.top-bar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    background-color: #EED889;
    border-radius: 50%;
}

.top-bar-menu .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    font-size: 1.5rem;
}

.top-bar-menu .dropdown-toggle::after {
    display: none;
}

.like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    border: none;
    background: transparent;
    font-size: 2.5rem;
    color: #e1e1e1;
}

#top-hamburger {
    margin-left: 0.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.content-interest {
    padding-top: 0;
}

.main-page-content {
    gap: 2rem;
}

.section-label {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.section-label > a {
    all: unset;
    cursor: pointer;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    color: #568D73;
}

.button {
    background-color: #568D73;
    color: #FFFFFF;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    border: none;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #3e6652;
}

.place-interest {
    text-decoration: none;
    color: #000000;
}

.place-header > .rating {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 1.5rem;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.place-header > .rating > i, .place-rating-average > i {
    color: #EFBB00;
}

.place-image {
    width: 100%;
    aspect-ratio: 5/3;
    border-radius: 1rem;
    background: #FFFFFF;
    object-fit: contain;
    overflow: hidden;
}

.place-map {
    width: 100%;
    aspect-ratio: 16/10;
    border-radius: 1rem;
    background: #FFFFFF;
    margin-bottom: 1.5rem;
    object-fit: contain;
    overflow: hidden;
}

.place-image > img {
    width: 100%;
    height: 100%;
}

.place-rating {
    margin: 1rem 0;
}

.place-rating-stars {
    margin-left: 1rem;
    color: #bebebe;
    display: flex;
}

.place-rating-star {
    font-style: unset !important;
    height: 1.2rem;
}

.place-rating-star {
    content: url("../icons/starHalf.svg");
    filter: invert(91%) sepia(0%) saturate(30%) hue-rotate(225deg) brightness(80%) contrast(106%);
    display: block;
}

.place-rating-star:nth-child(2n) {
    transform: scale(-1, 1);
}

.place-rating-stars:not(.hover) .place-rating-star.is-active, .place-rating-star.hover-active {
    filter: invert(75%) sepia(56%) saturate(2222%) hue-rotate(4deg) brightness(98%) contrast(101%);
}

.place-rating-star:not(.is-active):hover {
    filter: invert(75%) sepia(56%) saturate(2222%) hue-rotate(4deg) brightness(98%) contrast(101%);
}

.place-rating-average {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.place-rating-average > i {
    width: 1.5rem;
    text-align: center;
}

.place-rating-criteria {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.place-rating > form {
    display: flex;
    flex-direction: column;
}

.place-rating-criterion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: #FFFFFF;
    border-radius: 1.5rem;
}

.place-rating-criterion .rating {
    display: block;
    width: 2rem;
}

.place-rating-button-bar {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.place-rating-button-bar .pending {
    background-color: #575757;
}

.interest-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: 0.5rem;
}

#suggestionList {
    flex-wrap: wrap;
}

.interest-card {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 9rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.img-wrapper {
    border-radius: 1rem 1rem 0 0;
    height: 7rem;
    width: 10rem;
    background-image: linear-gradient(to bottom right, #568c72, #b0d289);
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.interest-card-link {
    all: unset;
    cursor: pointer;
}

.interest-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1;
}

.interest-places {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.interest-place {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #FFFFFF;
    color: #000000;
    border-radius: 1.5rem;
    padding: 0.5rem;
    text-decoration: none;
}

.interest-place-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.interest-place-header {
    display: flex;
    justify-content: space-between;
}

.interest-place-title h3 {
    color: #000000;
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

.interest-place-title h4 {
    color: #000000;
    font-size: 0.8rem;
}

.interest-place:hover .interest-place-title > h3 {
    text-decoration: underline;
}

.interest-place-ratings {
    list-style: none;
    padding-left: 0;
}

.interest-place-ratings li {
    display: flex;
    align-items: baseline;
}

.interest-place-ratings i {
    color: #bebebe;
    width: 2rem;
    text-align: center;
}

.interest-place-ratings i.overall {
    font-size: 120%;
}

.interest-place-ratings i.yellow {
    color: #EFBB00;
}

.interest-place-ratings .rating {
    display: block;
    width: 2rem;
}

.interest-place-img {
    width: 100%;
}

.interest-place-img > img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

@media only screen and (min-width: 475px) {
    .interest-place {
        flex-direction: row;
    }

    .interest-place-img {
        width: 10rem;
    }
}

.interest-map {
    height: 75vh;
    border-radius: 1rem;
    background: #FFFFFF;
    object-fit: contain;
    overflow: hidden;
}

.sort-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.sort-checkbox {
    display: none;
}

.sort-container > .sort-checkbox + span {
    padding: 0.3em 0.5em;
    text-align: justify;
    border-radius: 1rem;
    font-family: 'Andika', sans-serif;
    font-weight: 400;
    color: #888585;
    background: transparent;
}

.sort-container > .sort-checkbox:checked + span {
    color: #478363;
    font-weight: 700;
    background-color: rgba(86, 141, 115, 0.1);
}

.search {
    background-color: #F3F8FE;
    border: 0;
    width: 100%;
    border-radius: 1rem;
    padding: 0.7rem;
    text-indent: 3rem;
    transition: 0.2s;
}

.search:focus {
    outline: none;
    border-color: #6bd77f;
    box-shadow: 0 0 5px rgba(57, 128, 58, 0.8);
    transition: 0.2s;
}

.search-container {
    display: flex;
    align-content: center;
    position: relative;
    margin-top: 0;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    fill: #999; /* Color of the search icon */
    width: 20px;
    height: 20px;
}

.interest-image {
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 5/3;
    overflow: hidden;
    max-height: 400px;
}

.interest-image > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.interest-image:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #E2E2E2, rgba(227, 227, 227, 0.8) 4%, transparent 35%, transparent 100%);
}

.interest-button-bar {
    display: flex;
    justify-content: space-around;
}

.interest-button-bar .button {
    min-width: 10rem;
    text-align: center;
}

.interest-button-bar .pending {
    background-color: #575757;
}

.items-list {
    display: flex;
    flex-direction: column;
}

.interest-list-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.interest-list-entry {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 1rem;
    justify-content: space-between;
    align-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.interest-list-entry:hover {
    cursor: pointer;
}

.interest-creator-likes {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: center;
}

h5 {
    display: flex;
    align-items: center;
    margin: 0;
}

h6 {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin: 0;
}

h4 {
    font-weight: 600;
    font-size: 1rem;
}

.toggle-checkbox {
    display: none;
}

.toggle-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border-radius: 20px;
    background: #ececec;
    font-weight: bold;
    color: #AAAAAA;
    cursor: pointer;
}

.toggle-container::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background: #e0e9e4;
    transition: all 0.3s;
    color: #568D73;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-container span {
    padding: 6px;
    text-align: center;
    z-index: 1;
    transition: color 0.3s;
    font-weight: 600;
}

.toggle-checkbox:checked + .toggle-container::before {
    left: 50%;
}

.toggle-checkbox:checked + .toggle-container span:first-child {
    color: #AAAAAA;
}

.toggle-checkbox:checked + .toggle-container span:last-child {
    color: #568D73;
}

.toggle-checkbox + .toggle-container span:first-child {
    color: #568D73;
}

.toggle-checkbox + .toggle-container span:last-child {
    color: #AAAAAA;
}

.input-param {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.input-text-field {
    padding: 0.3rem 1rem;
    background-color: #FFFFFF;
    border-radius: 1.5rem;
    border: none;
    margin: 0.2rem 0 0.2rem 0;
    width: 100%;
}

.new-place-map {
    width: 100%;
    aspect-ratio: 16/3;
    border-radius: 1rem;
    background: #FFFFFF;
    margin-bottom: 0.5rem;
    object-fit: contain;
    overflow: hidden;
}

.list-record {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.user-list-entry {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 1rem;
    align-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    gap: 0.3rem;
}

.role-section {
    display: flex;
    gap: 0.5rem;
}

.role-option-button {
    display: flex;
    text-align: center;
    align-content: center;
    border-radius: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
}

.kick-button {
    background-color: #E88C8C;
}

.accept-button {
    background-color: #568D73;
}

#list-search {
    margin-top: 1rem;
}

#invite-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#invite-input {
    padding: 0.5rem 1rem;
    border: 1px solid #979494;
    transition: 0.2s;
}

#invite-input:focus {
    outline: none;
    border-color: #568c72;
    box-shadow: 0 0 5px rgba(43, 93, 44, 0.5);
    transition: 0.2s;
}

.send-invite {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#send-invite-button {
    display: flex;
    background-color: #568D73;
    font-weight: 600;
    color: #FFFFFF;
    border: 0;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error {
    color: #d74141;
    font-weight: 600;
}

.successful {
    color: #568D73;
    font-weight: 600;
}

.first-criterion {
    margin-right: 3.5rem;
}

.add-criterion {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2px;
}

#map {
    height: 100%;
    width: 100%;
}