
body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding: 0;
}

.header {
    display: flex;
    background-color: #568D73;
    align-items: center;
}

.header-top {
    display: flex;
    color: white;
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
    justify-content: center;
}

.header-top > a {
    all: unset;
    cursor: pointer;
}

.header-right {
    display: flex;
    justify-content: end;
    align-content: center;
}

#user-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    background-color: #EED889;
    border-radius: 50%;
}

#top-hamburger {
    margin-left: 0.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #E2E2E2;
    min-height: 100vh;
}

.mainpage-content {
    gap: 2rem;
}

.section-label {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    font-weight: 600;
    font-size: 1rem;
    color: #568D73;
}

.place-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.place-header > h1 {
    margin-bottom: 0;
}

.place-header > .rating {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 1.5rem;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.place-header > .rating > i, .place-rating-average > i {
    color: #EFBB00;
}

.place-image {
    width: 100%;
    aspect-ratio: 5/3;
    border-radius: 1rem;
    background: #FFFFFF;
    margin-bottom: 1.5rem;
    object-fit: contain;
    overflow: hidden;
}

.place-map {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    background: #FFFFFF;
    margin-bottom: 1.5rem;
    object-fit: contain;
    overflow: hidden;
}

.place-image > img {
    width: 100%;
    height: 100%;
}

.place-rating {
    margin: 1rem 0;
}

.place-rating-stars {
    margin-left: 1rem;
    color: #bebebe;
    display: flex;
}

.place-rating-star {
    font-style: unset !important;
    height: 1.2rem;
}

.place-rating-star {
    content: url("../icons/starHalf.svg");
    filter: invert(91%) sepia(0%) saturate(30%) hue-rotate(225deg) brightness(80%) contrast(106%);
    display: block;
}

.place-rating-star:nth-child(2n) {
    transform: scale(-1, 1);
}

.place-rating-star.is-active, .place-rating-star.hover {
    filter: invert(75%) sepia(56%) saturate(2222%) hue-rotate(4deg) brightness(98%) contrast(101%);
}

.place-rating-star:not(.is-active):hover {
    filter: invert(75%) sepia(56%) saturate(2222%) hue-rotate(4deg) brightness(98%) contrast(101%);
}

.place-rating-average {
    margin-left: auto;
}

.place-rating-criteria {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.place-rating > form {
    display: flex;
    flex-direction: column;
}

.place-rating-criterion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: #FFFFFF;
    border-radius: 1.5rem;
}

.place-rating-button {
    margin-top: 1rem;
    background-color: #568D73;
    color: #FFFFFF;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    border: none;
}

.place-rating-button-bar {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.interest-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: 0.5rem;
}

.interest-card {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 9rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.img-wrapper {
    border-radius: 1rem 1rem 0 0;
    height: 7rem;
    width: 10rem;
    background-image: linear-gradient(to bottom right, #568c72, #b0d289);
}

.interest-card-link {
    all: unset;
    cursor: pointer;
}

.interest-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1;
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

.filter-button {
    background: transparent;
    display: flex;
    border: 0;
    padding: 0.3em 0.5em 0.3em 0.5em;
    text-align: center;
    border-radius: 1rem;
    font-family: 'Andika', sans-serif;
    font-weight: 400;
    color: #888585;
}

#location-button {
    color: #478363;
    font-weight: 700;
    background-color: rgba(86, 141, 115, 0.1);
}

#search {
    margin-top: 1rem;
    background-color: #F3F8FE;
    border: 0;
    width: 100%;
    border-radius: 1rem;
    padding: 0.7rem;
    text-indent: 3rem;
    transition: 0.2s;
}

#search:focus {
    outline: none;
    border-color: #6bd77f;
    box-shadow: 0 0 5px rgba(57, 128, 58, 0.8);
    transition: 0.2s;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 65%;
    left: 1rem;
    transform: translateY(-50%);
    fill: #999; /* Color of the search icon */
    width: 20px;
    height: 20px;
}