
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(185 185 185);
    margin: 0;
    overflow-wrap: anywhere;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    width: 100%;
    background-color: #568D73;
    color: white;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    background-color: #E2E2E2;
    padding: 0;
    min-height: 100vh;
}

.footer-links {
    padding-top: 10px;
    padding-bottom: 6px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.footer-links a {
    color: white;
    text-decoration: none;
    display: block;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-page {
    color: #3e6652;
    text-align: center;
    margin: auto;
    gap: 1rem;
}

.fa-trowel-bricks {
    font-size: xxx-large;
}

.header {
    width: 100%;
    display: flex;
    background-color: #568D73;
    justify-content: center;
    align-items: center;
}

.header-left,
.header-right {
    display: flex;
    justify-content: center;
    align-content: center;
}

.header-middle {
    display: flex;
    color: white;
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
    justify-content: center;
}

.header-middle > a {
    all: unset;
    cursor: pointer;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.content-header > h1 {
    margin-bottom: 0;
}

.top-bar-menu {
    display: flex;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #EED889;
    border-radius: 50%;
}

.top-bar-menu .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    font-size: 1.5rem;
}

.top-bar-menu .dropdown-toggle::after {
    display: none;
}

.like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    border: none;
    background: transparent;
    font-size: 2.5rem;
    color: #e1e1e1;
}

.back-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

#top-hamburger {
    margin-left: 0.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.content-interest {
    padding-top: 0;
}

.main-page-content {
    gap: 2rem;
}

.section-label {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.section-label > a {
    all: unset;
    cursor: pointer;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    color: #568D73;
}

.button {
    background-color: #568D73;
    color: #FFFFFF;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    border: none;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #3e6652;
}

.place-interest {
    text-decoration: none;
    color: #000000;
}

.place-header > .rating {
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 1.5rem;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    overflow-wrap: normal;
}

.place-header > .rating > i, .place-rating-average > i {
    color: #EFBB00;
}

.place-map {
    width: 100%;
    aspect-ratio: 16/10;
    border-radius: 1rem;
    background: #FFFFFF;
    object-fit: contain;
    overflow: hidden;
}

.place-rating {
    margin: 1rem 0;
}

.place-rating-stars {
    margin-left: 0.2rem;
    color: #bebebe;
    display: flex;
}

.place-rating-star {
    font-style: unset !important;
    height: 1.2rem;
}

.place-rating-star {
    content: url("../icons/starHalf.svg");
    filter: invert(91%) sepia(0%) saturate(30%) hue-rotate(225deg) brightness(80%) contrast(106%);
    display: block;
}

.place-rating-star:nth-child(2n) {
    transform: scale(-1, 1);
}

.place-rating-stars:not(.hover) .place-rating-star.is-active, .place-rating-star.hover-active {
    filter: invert(75%) sepia(56%) saturate(2222%) hue-rotate(4deg) brightness(98%) contrast(101%);
}

.place-rating-star:not(.is-active):hover {
    filter: invert(75%) sepia(56%) saturate(2222%) hue-rotate(4deg) brightness(98%) contrast(101%);
}

.place-rating-average {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    overflow-wrap: normal;
}

.place-rating-average > i {
    width: 1.5rem;
    text-align: center;
}

.place-rating-criteria {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.place-rating > form {
    display: flex;
    flex-direction: column;
}

.place-rating-criterion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    background-color: #FFFFFF;
    border-radius: 1.5rem;
}

.place-rating-criterion .rating {
    display: block;
    width: 1.5rem;
}

.place-button-bar {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.place-button-bar .pending {
    background-color: #575757;
}

.location-button-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.fotorama__thumb-border {
    border-radius: 1rem !important;
}

.fotorama__thumb {
    border-radius: 1rem !important;
}

.fotorama__stage__shaft img {
    border-radius: 1rem !important;
}

.interest-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-top: 0.5rem;
}

#suggestionList {
    flex-wrap: wrap;
}

.interest-card {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 9rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.img-wrapper {
    border-radius: 1rem 1rem 0 0;
    height: 7rem;
    width: auto;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.like-count {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: white;
    border-radius: 1rem;
    width: fit-content;
    min-width: 3rem;
    height: 1.5rem;
}

.like-count p {
    margin: 0 0.3rem 0 0;
}

.like-count i {
    margin: 0.3rem;
}

.interest-card-link {
    all: unset;
    cursor: pointer;
    margin: 0.2rem;
}

.interest-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
    font-family: 'Ubuntu', sans-serif;
}

.interest-title p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.interest-places {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.interest-place {
    display: flex;
    gap: 1rem;
    background: #FFFFFF;
    color: #000000;
    border-radius: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    position: relative;
    height: 9rem;
}

.interest-place-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow: hidden;
}

.interest-place-header {
    display: flex;
    justify-content: space-between;
}

.interest-place-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.interest-place-title h3,
.interest-place-title h4 {
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.interest-place-title h3 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    max-height: 2.5rem;
    -webkit-line-clamp: 2;
}

.interest-place-title h4 {
    font-size: 0.7rem;
    -webkit-line-clamp: 1;
}

.interest-place:hover .interest-place-title > h3 {
    text-decoration: underline;
}

.interest-place-ratings {
    list-style: none;
    padding-left: 0;
    position: absolute;
    bottom: 0;
    margin-bottom: 0.3rem;
}

.interest-place-ratings li {
    display: flex;
    align-items: baseline;
}

.interest-place-ratings li:first-child {
    font-size: 110%;
}

.interest-place-ratings i {
    color: #bebebe;
    width: 2rem;
    text-align: center;
    margin-left: -0.3rem;
    flex-shrink: 0;
}

.interest-place-ratings i.overall {
    font-size: 120%;
}

.interest-place-ratings i.yellow {
    color: #EFBB00;
}

.interest-place-ratings .rating {
    display: block;
    width: 2rem;
    flex-shrink: 0;

}

.interest-place-ratings .criterion {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.interest-place-img {
    flex-shrink: 0;
    width: 35%;
}

.interest-place-img > img {
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    object-fit: cover;
}

.interest-place-distance {
    white-space: nowrap;
    text-align: right;
    font-size: 0.8rem;
}

@media only screen and (max-width: 475px) {
    .interest-place {
        flex-direction: column;
        height: auto;
    }

    .interest-place-img {
        width: 100%;
    }

    .interest-place-ratings {
        position: relative;
    }
}

.interest-map {
    height: 75vh;
    border-radius: 1rem;
    background: #FFFFFF;
    object-fit: contain;
    overflow: hidden;
}

.sort-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.sort-checkbox {
    display: none;
}

.sort-container {
    display: flex;
    cursor: pointer;
}

.sort-container:hover {
    cursor: pointer;
}

.sort-container > .sort-checkbox + span {
    padding: 0.3em 0.5em;
    text-align: justify;
    border-radius: 1rem;
    color: #888585;
    background: transparent;
}

.sort-container > .sort-checkbox:checked + span {
    color: #478363;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #478363;
    background-color: rgba(86, 141, 115, 0.1);
}

.search {
    background-color: #F3F8FE;
    border: 0;
    width: 100%;
    border-radius: 1rem;
    padding: 0.7rem;
    text-indent: 3rem;
    transition: 0.2s;
}

.search:focus {
    outline: none;
    border-color: #6bd77f;
    box-shadow: 0 0 5px rgba(57, 128, 58, 0.8);
    transition: 0.2s;
}

.search-container {
    display: flex;
    align-content: center;
    position: relative;
    margin-top: 0;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    fill: #999; /* Color of the search icon */
    width: 20px;
    height: 20px;
}

.interest-image {
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 5/3;
    overflow: hidden;
    max-height: 400px;
}

.interest-image > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.interest-image:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #E2E2E2, rgba(227, 227, 227, 0.8) 4%, transparent 35%, transparent 100%);
}


.interest-button-bar {
    display: flex;
    justify-content: space-around;
}

.interest-button-bar .button {
    min-width: 10rem;
    text-align: center;
}

.interest-button-bar .pending {
    background-color: #575757;
}

.items-list {
    display: flex;
    flex-direction: column;
}

.interest-list-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.interest-list-entry {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 1rem;
    justify-content: space-between;
    align-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.interest-list-entry:hover {
    cursor: pointer;
}

.interest-creator-likes {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: center;
}

h5 {
    display: flex;
    align-items: center;
    margin: 0;
}

h6 {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin: 0;
}

h4 {
    font-weight: 600;
    font-size: 1rem;
}

.toggle-checkbox {
    display: none;
}

.toggle-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    border-radius: 20px;
    background: #ececec;
    font-weight: bold;
    color: #AAAAAA;
    cursor: pointer;
}

.toggle-container::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 20px;
    background: #e0e9e4;
    transition: all 0.3s;
    color: #568D73;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-container span {
    padding: 6px 10px;
    text-align: center;
    z-index: 1;
    transition: color 0.3s;
    font-weight: 600;
}

.toggle-checkbox:checked + .toggle-container::before {
    left: 50%;
}

.toggle-checkbox:checked + .toggle-container span:first-child {
    color: #AAAAAA;
}

.toggle-checkbox:checked + .toggle-container span:last-child {
    color: #568D73;
}

.toggle-checkbox + .toggle-container span:first-child {
    color: #568D73;
}

.toggle-checkbox + .toggle-container span:last-child {
    color: #AAAAAA;
}

.input-param {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.input-text-field {
    padding: 0.3rem 1rem;
    background-color: #FFFFFF;
    border-radius: 1.5rem;
    border: none;
    margin: 0.2rem 0 0.2rem 0;
    width: 100%;
    resize: none;
}

.new-place-map {
    width: 100%;
    aspect-ratio: 16/3;
    border-radius: 1rem;
    background: #FFFFFF;
    margin-bottom: 0.5rem;
    object-fit: contain;
    overflow: hidden;
}

.list-record {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.user-list-entry {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 1rem;
    align-content: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    gap: 0.3rem;
}

.role-section {
    display: flex;
    gap: 0.5rem;
}

.role-option-button {
    display: flex;
    text-align: center;
    align-content: center;
    border-radius: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
}

.kick-button {
    background-color: #E88C8C;
}

.accept-button {
    background-color: #568D73;
}

#list-search {
    margin-top: 1rem;
}

#invite-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#invite-input {
    padding: 0.5rem 1rem;
    border: 1px solid #979494;
    transition: 0.2s;
}

#invite-input:focus {
    outline: none;
    border-color: #568c72;
    box-shadow: 0 0 5px rgba(43, 93, 44, 0.5);
    transition: 0.2s;
}

.send-invite {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#send-invite-button {
    display: flex;
    background-color: #568D73;
    font-weight: 600;
    color: #FFFFFF;
    border: 0;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error {
    color: #d74141;
    font-weight: 600;
    padding: 1.2rem
}

.successful {
    color: #568D73;
    font-weight: 600;
}

.first-criterion {
    margin-right: 3.5rem;
}

.add-criterion {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2px;
}

#map {
    height: 100%;
    width: 100%;
}

#error-sign-wrapper {
    max-width: 206px;
    overflow: hidden;
    position: relative;
}

#error-sign {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#error-code {
    position: absolute;
    top: 23%;
    left: 18%;
    text-align: center;
}

#error-status {
    color: white;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

@media (max-width: 499px) {
    #error-status {
        font-size: 12vw;
    }
}

@media (min-width: 500px) {
    #error-status {
        font-size: 4rem;
    }
}

#error-simple {
    margin-left: 1rem;
    display: flex;
    flex-wrap: nowrap;
    position: relative;

    & h1 {
        font-size: 2.5rem;
        position: absolute;
        z-index: 1;
    }
}

#error-message {
    align-self: center;

    & p {
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: 3rem;
    }
}

#error-homepage-button {
    align-self: center;
    margin-top: 3rem;
}

#splide-checkboxes {
    margin-bottom: 1rem;
}

.user-form {
    padding: 2rem 2rem;
}

:root {
    --form-container-height: 75vh;
}

.form-container {
    position: relative;
    margin: auto;
    height: var(--form-container-height);
    width: 100%;
}

.left-container,
.right-container {
    position: absolute;
    border: 2px solid black;
    border-radius: 2rem;
    height: calc(0.9 * var(--form-container-height));
    width: 90%;
    box-sizing: border-box;
}

.right-container {
    right: 0;
    top: 0;
}

.left-container {
    left: 0;
    bottom: 0;
}

.top-container,
.back-container {
    display: flex;
    flex-direction: column;
}

.top-container {
    background: #BED9CC;
    z-index: 2;
    padding: 1rem 1rem 2rem;
}

.back-container {
    background: rgba(86, 141, 115, 0.1);
    z-index: 1;
}

.right-container h1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.credentials {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    position: relative;
}

.credentials h6,
.credentials label {
    margin-left: 1rem;
    align-self: flex-start;
}

.credentials-input {
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.3rem 2rem;
    box-sizing: border-box;
    font-size: 0.8rem;
}

.user-icon {
    position: absolute;
    top: 52%;
    left: 1rem;
    width: 1rem;
    height: 1rem;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
    padding: 0.2rem;
}

.user-form-button {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sign-button {
    border: 1px solid black;
    border-radius: 2rem;
    width: 80%;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.left-container h1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.left-container .error {
    display: flex;
    justify-content: center;
    font-size: small;
    margin: 0;
}

.login-signup-wrapper {
    display: flex;
    height: calc(0.1 * var(--form-container-height));
    justify-content: center;
    align-items: center;
}

.left-container .login-signup-wrapper {
    margin-top: calc(0.8 * var(--form-container-height));
}

.login-signup-wrapper > p {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 0;
}

.rs-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.rs-logo > img {
    height: 4rem;
    width: 4rem;
}

.discover-interests {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.discover-interest {
    display: flex;
    gap: 1rem;
    background: #FFFFFF;
    color: #000000;
    border-radius: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    height: 8rem;
}

.discover-interest-img {
    flex-shrink: 0;
    width: 35%;
}

.discover-interest-img > img {
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    object-fit: cover;
}

.discover-interest-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow: hidden;
}

.discover-interest-header {
    display: flex;
    justify-content: space-between;
}

.discover-interest-title h3 {
    color: #000000;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.discover-interest:hover .discover-interest-title > h3 {
    text-decoration: underline;
}

.discover-interest-distance {
    white-space: nowrap;
    text-align: right;
    font-size: 0.8rem;
}

.discover-interest-values {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.discover-interest-content p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: calc(4 - var(--title-lines));
    -webkit-box-orient: vertical;
    max-height: 3.5rem;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: small;
    margin-bottom: 0;
}

#charCount {
    margin-bottom: 0.5rem;
    color: #888585;
}

#locationAccuracy {
    color: #888585;
}
