@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';

* {
    margin: 0;
}

.body {
    background-color: #E2E2E2;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    display: block;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
}

.container {
    position: absolute;
    width: auto;
    height: auto;
    top: calc(50% - 240px);
    left: calc(50% - 160px);
    margin: 40px;
}

.top-header {
    align-items: center;
    background-color: #568D73;
    color: white;
    display: flex;
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
    justify-content: center;
}

form {
    position: absolute;
    text-align: left;
    background: #BED9CC;
    width: 310px;
    height: 470px;
    border-radius: 35px;
    padding: 30px 20px 0 20px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border: solid black 2px;
}

form p {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
}

form p > span {
    padding-top: 3px;
    display: block;
    font-weight: 400;
    font-size: 9px;
}

form h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

input,
button {
    outline: none !important;
}

.username,
.password,
.email {
    font-size: 10px;
}

/* sign-in button */

button.form-btn {
    position: relative;
    width: 50%;
    margin-bottom: 10px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    cursor: pointer;
}

/* left sign-in button */

button.form-btn.sx {

    border-radius: 35px;
    background-color: #DFE4E1;
    color: black;
    transition: all 0.3s linear;
    font-weight: bolder;
}

button.form-btn.sx:hover {
    background-color: rgba(173, 173, 173, 0.95);
    color: black;
}


/* right sign-in button */

button.form-btn.dx {
    border-radius: 35px;
    background-color: #DFE4E1;
    color: black;
    font-weight: bolder;
    margin: 18px auto;
}

.form-btn.dx {
    margin-top: 10px;
    display: block;
}

button.form-btn.dx:hover {
    background-color: rgba(173, 173, 173, 0.95);
    color: black;
}

.username2,
.password2 {
    font-size: 10px;
}


input {

    width: 85%;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.buttons-login {
    margin-top: -3%;
    display: flex;
    align-items: center;

}

.buttons-register {
    margin-top: 20%;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}

.form-btn-log-in {

    font-family: 'Montserrat', sans-serif;
    margin-left: 8px;
    margin-right: 2%;
    color: #568D73;
    text-decoration: none;
    font-weight: bolder;
    font-size: 13px;
}

.account-login {
    margin-left: 6px;
    font-weight: bold;
}

.account-register {
    font-size: 12px;
    margin-left: 2%;
    font-weight: bold;

}

.register-button {

    font-family: 'Montserrat', sans-serif;
    margin-right: -3%;
    margin-left: 3%;
    color: #568D73;
    text-decoration: none;
    font-weight: bolder;
    font-size: 13px;

}

label {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 400px;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.icon-label {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

/* Apply the underline on hover */
.underline-on-hover:hover {
    text-decoration: underline;
}

.input-username2 input,
.input-password2 input {
    background-color: white;
    background-size: 20px;
    border: solid black 2px;
    padding-left: 35px;
}

.input-with-icon-user input {
    padding-left: 40px;
    background: url('/icons/user.svg') no-repeat 10px center;
    background-color: white;
    background-size: 20px;
    border: solid black 2px;

}

.input-with-icon-email input {
    padding-left: 40px;
    background: url('/icons/email-icon.png') no-repeat 10px center;
    background-color: white;
    background-size: 20px;
    border: solid black 2px;

}

.input-with-icon-password input {
    padding-left: 40px;
    background: url('/icons/lock.png') no-repeat 10px center;
    background-color: white;
    background-size: 20px;
    border: solid black 2px;
}

.forgot-password {

    width: 100%;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 20%;
    text-decoration: none;
    font-style: italic;
    color: black;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}


::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.signIn,
.signUp {
    z-index: 1;
    transform: perspective(100px) translate3d(100px, 0px, -30px);
    opacity: 0.5;
}

.active-sx {
    animation-name: foregrounding-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.inactive-sx {
    animation-name: overshadowing-sx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.active-dx {
    animation-name: foregrounding-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

.inactive-dx {
    animation-name: overshadowing-dx;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}

@keyframes overshadowing-sx {
    0% {
        z-index: 2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100% {
        z-index: 1;
        transform: perspective(100px) translate3d(-100px, 0px, -30px);
        opacity: 0.5;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}

@keyframes overshadowing-dx {
    0% {
        z-index: 2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100% {
        z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0.5;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
}

@keyframes foregrounding-sx {
    0% {
        z-index: 1;
        transform: perspective(100px) translate3d(-100px, 0px, -30px);
        opacity: 0.5;
    }
    50% {
        z-index: 2;
        transform: perspective(100px) translate3d(-400px, 0px, -30px);
    }
    100% {
        z-index: 2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}

@keyframes foregrounding-dx {
    0% {
        z-index: 1;
        transform: perspective(100px) translate3d(100px, 0px, -30px);
        opacity: 0.5;
    }
    50% {
        z-index: 2;
        transform: perspective(100px) translate3d(400px, 0px, -30px);
    }
    100% {
        z-index: 2;
        transform: perspective(100px) translate3d(0px, 0px, 0px);
        opacity: 1;
    }
}
